header {
  float: left;
  width: 28%;
  max-width: 350px;
  margin-left: -15px;
  padding-left: 0;
  /* background-color: rgb(146, 192, 148); */
  /* -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75); */
  transition: all 1s ease-in-out;
}

header > nav {
  height: 100%;
}

header > nav > .menu-main {
  height: 20%;
  padding: 15px;
}

.menu-main > .profile-img {
  margin: 0 auto;
  width: 60%;
  height: 100%;
}

.menu-main > .profile-img > img {
  width: 100%;
  height: 100%;
}

header > nav > ul {
  list-style: none;
}

header > nav > ul > li {
  background-color: rgb(146, 192, 148);
  height: 65px;
  /* -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75); */
}

/* header > nav > ul > li + li {
  margin-left: 40px;
  margin-right: 20px;
}

header > nav > ul > li + li + li {
  margin-left: 20px;
  margin-right: 40px;
}

header > nav > ul > li + li + li + li {
  margin-left: 0px;
  margin-right: 60px;
} */

header > nav > ul > li > a,
header > nav > ul > li > a > p {
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  color: #fff;
  text-shadow: 1px 1px #000;
  width: 100%;
  height: 100%;
  font-weight: 600;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > nav > ul > li > a > p {
  transition: display 1s ease-in-out;
}

header > nav > ul > li > a > p {
  margin-bottom: 0;
}

header > nav > ul > li > a:hover,
header > nav > ul > li:hover {
  width: 105%;
}

header > nav > ul > li > a:hover,
header > nav > ul > li:hover,
.active {
  color: #fff;
  text-decoration: none;
  background-color: rgb(68, 119, 98);
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 1s ease-in-out;
}

svg.svg-inline--fa {
  display: none;
}

@media (max-width: 700px) {
  header {
    width: 50px;
    transition: all 1s ease-in-out;
  }

  header > nav > ul > li > a > p {
    display: none;
  }

  svg.svg-inline--fa {
    font-size: 28px;
    display: block;
  }
}
