* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #d3cdcd;
  background-image: url("./media/images/backgrounds/background.jpg");
}

#root {
  padding: 15px;
}

.btn-change-lng {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
}

.btn-change-lng > .btn {
  font-weight: 600;
}
