* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #d3cdcd;
  background-image: url("/src/media/images/backgrounds/background.jpg");
}

#root {
  padding: 15px;
}
